<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">
    <!-- 引入资源配置文件 -->
    <context:property-placeholder location="classpath:datasource.properties"/>
    <import resource="classpath:spring/app-bean.xml"/>
    <import resource="classpath:spring/thread-pool.xml"/>
    <import resource="classpath:mybatis.xml"/>
    <import resource="classpath:spring-session-redis.xml"/>
    <import resource="classpath:redis.xml"/>
    

    <context:component-scan base-package="es.redis"/>
    <context:component-scan base-package="es.utils"/>
    <context:component-scan base-package="es.dao"/>
    <context:component-scan base-package="es.service"/>
    <context:component-scan base-package="es.elasticsearch"/>
    <context:component-scan base-package="es.item.service"/>
    <context:annotation-config/>
    <task:annotation-driven/>
</beans>